In [3]:
def greet(name):
    print("Hello, "+name+ "!")
greet("Harshita")

Hello, Harshita!

In [4]:
def add(a,b):
    sum=a+b
    print(sum)
add(5,6)

11

In [5]:
def add(a,b):
    sum=a+b
    return sum
print(add(2,6))

8

In [6]:
def exponent(a,b=2):
    c=a**b
    return c
exponent(5)

25

In [8]:
def person(name,age):
    return name,age
person("harshi",18)

('harshi', 18)

In [10]:
def person(name,age):
    return name,age
b=person("harshi",18)
print(b)

('harshi', 18)

In [12]:
c=15
def update():
    c=5
print(c)

15

In [15]:
c=15
def update():
    global c
    c=5
update()
print(c)

5

In [17]:
c=3
print(type(c))

<class 'int'>

In [18]:
c=15
def update():
    global c
    c=5
print(c)
update()
print(c)

15
5

In [21]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)

In [22]:
factorial(5)

120

In [26]:
expo = lambda x,y:x**y
print(expo(2,3))

8

In [29]:
def func(str):
    n=len(str)
    return n
func("harshi")
func("machine learning")

16

In [30]:
#lamba function
l1=[1,2,3]
new=list(map(lambda x:x**2,l1))
print(new)

[1, 4, 9]

# Decorator function

In [34]:

import time
def timetaken(func):
    def wrapper():
        st=time.time()
        func()
        end=time.time()
        print("Time:",end-st)
    return wrapper
@timetaken
def func():
    print("Hello")
func()

Hello
Time: 0.0009016990661621094

In [2]:
def is_even(n):
    if n%2==0:
        return "EVEN"
    else :
        return "odd"
is_even(7)

'odd'

In [9]:

def maximum(l1):
    a=max(l1)
    return a
l1=[1,2,3,4,5]
maximum(l1)

5

In [5]:
def square(*,x):
    return x**x
x=2
square(x)

TypeError: square() takes 0 positional arguments but 1 was given

In [7]:
def myfun(*args):
    for arg in args:
        print(arg)
myfun("hello","my","name","is","harshita")

hello
my
name
is
harshita

In [8]:
def myfun(arg1,*args):
    print("the first arg is ")
    for arg in args:
        print(arg)
myfun("hello","my","name","is","harshita")

the first arg is
my
name
is
harshita

In [ ]:
def my_func(**kid):
     print("His last name is :"+kid["lname"])
my_func(fname)

In [11]:
while True:
    try:
        x=int(input("enter a integer "))
        break
    except ValueError:
        print("error")

enter a integer 45